<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wskj.project.dao.TableInputViewMapper">
    <!--查询当前表录入界面-->
    <select id="getTableInputView" resultType="java.util.Map">
         SELECT
             INTERFACECARDCODE,
             TABLECODE,
             USERCODE,
             CONTROLNAME,
             CONTROLINDEX,
             CONTROLTYPE,
             ISEXIST,
             CONTAINER,
             CONTAINERINDEX,
             LOADNO,
             TABINDEX,
             FIELDNAME,
             PROPERTIESINFO1,
             PROPERTIESINFO2,
             REMARK
         FROM TABLEINTERFACECARD
         WHERE TABLECODE= #{tableCode}
         ORDER BY  LOADNO
    </select>

    <!--获取最大的序号-->
    <select id="getLoadNOMax" resultType="java.util.Map">
    SELECT MAX(LOADNO) MAXSERIAL FROM TABLEINTERFACECARD
    WHERE TABLECODE=#{tableCode}
    </select>

    <!--添加录入列-->
    <insert id="addTableInputViewColumn" parameterType="java.util.Map">
      INSERT INTO TABLEINTERFACECARD(
      INTERFACECARDCODE,
      TABLECODE,
      USERCODE,
      CONTROLNAME,
      CONTROLINDEX,
      CONTROLTYPE,
      ISEXIST,
      CONTAINER,
      CONTAINERINDEX,
      LOADNO,
      TABINDEX,
      FIELDNAME,
      PROPERTIESINFO1,
      REMARK)
      VALUES (
      #{INTERFACECARDCODE},
      #{TABLECODE},
      #{USERCODE},
      #{CONTROLNAME},
      #{CONTROLINDEX,jdbcType=NUMERIC},
      #{CONTROLTYPE,jdbcType=NUMERIC},
      #{ISEXIST},
      #{CONTAINER},
      #{CONTAINERINDEX,jdbcType=NUMERIC},
      #{LOADNO,jdbcType=NUMERIC},
      #{TABINDEX,jdbcType=NUMERIC},
      #{FIELDNAME},
      #{PROPERTIESINFO1},
      #{REMARK}
      )
    </insert>
    <!--默认添加录入列-->
    <insert id="defAddTableInputViewColumn" parameterType="java.util.Map">
      INSERT INTO TABLEINTERFACECARD(
      INTERFACECARDCODE,
      TABLECODE,
      USERCODE,
      CONTROLNAME,
      ISEXIST,
      CONTAINER,
      FIELDNAME,
      LOADNO,
      PROPERTIESINFO1)
      VALUES (
      #{INTERFACECARDCODE,jdbcType=VARCHAR},
      #{TABLECODE,jdbcType=VARCHAR},
      #{USERCODE,jdbcType=VARCHAR},
      #{CONTROLNAME,jdbcType=VARCHAR},
      #{ISEXIST,jdbcType=VARCHAR},
      #{CONTAINER,jdbcType=VARCHAR},
      #{FIELDNAME,jdbcType=VARCHAR},
      #{LOADNO,jdbcType=NUMERIC},
      #{PROPERTIESINFO1,jdbcType=VARCHAR}
      )
    </insert>
    <!--修改录入界面-->
    <update id="upTableInputColumnSelect" parameterType="java.util.Map">

    </update>

    <delete id="delTableInputViewByTableCode" parameterType="java.util.Map">
        DELETE FROM TABLEINTERFACECARD WHERE TABLECODE= #{tableCode}
    </delete>


    <!--添加表索引-->
    <insert id="addTableIndex" parameterType="java.util.Map">
        INSERT INTO TABLEINTERFACEINDEX(INTERFACEINDEXCODE,TABLECODE,USERCODE,INTERFACETYPE)
        VALUES(#{indexCode},#{tableCode},'ISA',0)
    </insert>
    <!--添加表索引-->
    <delete id="dexTableIndex" parameterType="java.util.Map">
        DELETE FROM TABLEINTERFACEINDEX WHERE TABLECODE= #{tableCode}
    </delete>


    <!--获取字段最大值-->
    <select id="getEntityTableColumnByTag" resultType="java.lang.String">
        SELECT WIDTH FROM TABLECOLUMNDESCRIPTION WHERE TABLECODE=#{tableCode} and name=#{tag}
    </select>
</mapper>
